In [1]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\lenovo\anaconda3\lib\site-packages (4.11.0)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\lenovo\anaconda3\lib\site-packages (from plotly) (1.3.3)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.offline as pyo
import plotly.graph_objs as go

In [ ]:
# Scatter plot
# Numerical vs Numerical data

In [3]:
tips = sns.load_dataset('tips')

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
trace = go.Scatter(x=tips['total_bill'],
                   y=tips['tip'], 
                   mode='markers',
                   text=tips['sex'],
                   marker={'color':'#00a65a', 'size':12}
                  )                                                       #traces are the graphs

data = [trace]

layout = go.Layout(title='Total Bill v Tip',
                   xaxis={'title':'Total Bill'},
                   yaxis={'title':'Tip'})
                  
                  



fig = go.Figure(data, layout)

pyo.plot(fig)

'temp-plot.html'

In [6]:
stocks = pd.read_csv('big_five_stocks.csv')

In [11]:
stocks.head()

   Unnamed: 0   name    open   close    high     low  volume
0  1971-02-05  ^IXIC  100.00  100.00  100.00  100.00     0.0
1  1971-02-08  ^IXIC  100.84  100.84  100.84  100.84     0.0
2  1971-02-09  ^IXIC  100.76  100.76  100.76  100.76     0.0
3  1971-02-10  ^IXIC  100.69  100.69  100.69  100.69     0.0
4  1971-02-11  ^IXIC  101.45  101.45  101.45  101.45     0.0

In [13]:
stocks['name'].value_counts()

^IXIC    12252
AAPL      9760
MSFT      8433
AMZN      5607
GOOGL     3780
FB        1828
Name: name, dtype: int64

In [14]:
# Apple

aapl = stocks[stocks['name'] =='AAPL']

trace = go.Scatter(x=aapl['Unnamed: 0'], y=aapl['open'],
                   mode='lines',
                   marker={'color':'#00a65a'}                 
                  )


data = [trace]

layout = go.Layout(title='Apple Stock Price',
                   xaxis={'title':'Time'},
                   yaxis={'title':'Stock Price'})

fig = go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'

In [19]:
aapl = stocks[stocks['name'] =='AAPL']
msft = stocks[stocks['name'] =='MSFT']
googl = stocks[stocks['name'] =='GOOGL']
amzn = stocks[stocks['name'] =='AMZN']
fb = stocks[stocks['name'] =='FB'] 


trace = go.Scatter(x=aapl['Unnamed: 0'], y=aapl['open'],
                   mode='lines',
                   marker={'color':'#00a65a'},
                   name='Apple'
                  )


trace1 = go.Scatter(x=msft['Unnamed: 0'], y=msft['open'],
                   mode='lines',
                   name='Microsoft'
                  )


trace2 = go.Scatter(x=googl['Unnamed: 0'], y=googl['open'],
                   mode='lines',
                   name='Google'
                  )

trace3 = go.Scatter(x=amzn['Unnamed: 0'], y=amzn['open'],
                   mode='lines',
                   name='Amazon'
                  )


trace4 = go.Scatter(x=fb['Unnamed: 0'], y=fb['open'],
                   mode='lines',
                   name='Facebook'
                  )




data = [trace,trace1,trace2,trace3,trace4]

layout = go.Layout(title='Apple Stock Price',
                   xaxis={'title':'Time'},
                   yaxis={'title':'Stock Price'})

fig = go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'

In [23]:
# Bar-chart

trace = go.Bar(x=tips[tips['sex']=='Male']['day'],y=tips[tips['sex']=='Male']['total_bill'],name='Male')
trace1 = go.Bar(x=tips[tips['sex']=='Female']['day'],y=tips[tips['sex']=='Female']['total_bill'],name='Female')

data = [trace,trace1]

layout = go.Layout(title="A graph")

fig = go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'